<<<<<<< HEAD


.card {
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}


.fit {
  width: 200px;
  height: 200px;
  object-fit: cover;
}




=======
img {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.30);
  border-radius: 5px;
  max-height: 150px;
  width: 100%;
  object-fit: cover;
}
>>>>>>> 75efac8a3e284a72d734e39fa75761f20d01e063
