
    <form class="formgrid grid" [formGroup]="accountDetailsForm">
        <div class="field col-12">
                <h1 class=" m-0 pt-3  pl-5">Details</h1>
                <p-divider class="m-0"></p-divider>
        </div>
        
<!-- --------------- Field 1 : userName ----------------------------------------- -->
        
                <div class="field col-12 m-2 md:col-5">
                    <label for="userName">User Name</label>
                    <input id="userName"   type="text" formControlName="name" class="inputfield w-full p-3">
                    <div *ngIf="getErrors('name') && getField('name')?.dirty">
                        <p *ngIf="getErrors('name')?.['required']">
                        please provide a user name
                        </p>
                        <p *ngIf="getErrors('name')?.['minlength']">
                        user name must be 3 characters and more
                        </p>
                        <p *ngIf="getErrors('name')?.['maxlength']">
                        user name must be less than 50 characters
                        </p>
                    </div>
                </div>
    

<!-- --------------- Field 2 : E-mail ----------------------------------------- -->

            <div class="field col-12 m-2  md:col-6">
                <label for="Phone">E-mail</label>
                <input id="Phone"    type="text" formControlName="email" class="inputfield w-full p-3"/>
                <div *ngIf="getErrors('email') && getField('email')?.dirty">
                    <p *ngIf="getErrors('email')?.['required']">please provide a email</p>
                    <p *ngIf="getErrors('email')?.['email']">
                      please provide a valid email
                    </p>
                </div>
            </div>


<!-- --------------- Field 3 : Phone Number ----------------------------------------- -->


            <div class="field col-12 m-2 md:col-6">
                <label for="Phone">Phone Number</label>
                <input id="Phone"     type="text" formControlName="phone" class="inputfield w-full p-3">
                <div *ngIf="getErrors('phone') && getField('phone')?.dirty">
                    <p *ngIf="getErrors('phone')?.['required']">please provide a phone</p>
                    <p *ngIf="getErrors('phone')?.['minlength']">
                        please provide a valid phone
                    </p>
                    <p *ngIf="getErrors('phone')?.['maxlength']">
                        please provide a valid phone
                    </p>
              </div>
            </div>


<!-- --------------- Field 4 : City ------------------------------------------------ -->
<div formGroupName="address">
            <div class="field col-12 m-2 md:col-3">
                <label for="city">City</label>
                <input id="city"   type="text" formControlName="city" 
                class="inputfield w-full p-3"/>

                <div *ngIf="getErrors('address.city') && getField('address.city')?.dirty">
                    <p *ngIf="getErrors('address.city')?.['required'] ">please provide a city</p>
                </div>
            </div>


<!-- --------------- Field 5 : Address ------------------------------------------------ -->

            <div class="field col-10 m-2">
                <label for="address">Address</label>
                <input id="address"  type="text" rows="1" 
                formControlName="street" class="inputfield w-full p-3">
                <div *ngIf="getErrors('address.street') && getField('address.street')?.dirty  ">
                    <p *ngIf="getErrors('address.street')?.['required']">
                        please provide an address
                    </p>
                  </div>
            </div>

</div>
<!-- --------------- Field 6 : Submit Button ------------------------------------------- -->
            
            <div class="flex col-12 mt-3 mb-3 justify-content-center">
                <button pButton type="submit" (click)="onSubmit()" 

                [disabled]="
                  accountDetailsForm.invalid || accountDetailsForm.pristine"
                    class="p-button-raised p-button-rounded ">
                    Save Changes
                </button>
            </div>

            

    </form>

