
    <div class="formgrid grid">
        <div class="field col-12">
                <h1 class=" m-0 pt-3  pl-5">Details</h1>
                <p-divider class="m-0"></p-divider>
        </div>
        
        <div class="field col-12 m-2 md:col-5">
            <label for="userName">User Name</label>
            <input id="userName" [value]="name" type="text" class="inputfield w-full p-3">
        </div>


        <div class="field col-12 m-2  md:col-6">
            <label for="Phone">E-mail</label>
            <input id="Phone" [value]="email" type="text" class="inputfield w-full p-3">
        </div>

        <div class="field col-12 m-2 md:col-6">
            <label for="Phone">Phone Number</label>
            <input id="Phone" [value]="phone"  type="text" class="inputfield w-full p-3">
        </div>
        
   
           <div class="field col-12 m-2 md:col-3">
               <label for="city">City</label>
               <input id="city" [value]="city" type="text" class="inputfield w-full p-3">
           </div>

        <div class="field col-10 m-2">
            <label for="address">Address</label>
            <input id="address" [value]="street" type="text" rows="1" class="inputfield w-full p-3">
        </div>
   
        <div class="flex col-12 mt-3 mb-3 justify-content-center">
            <button pButton type="submit" 
                class="p-button-raised p-button-rounded ">
                Save Changes
            </button>
        </div>

    </div>


    <!-- 

    <div class="formgrid grid">
        <div class="field col-12">
                <h1 class=" m-0 pt-3  pl-5">Details</h1>
                <p-divider class="m-0"></p-divider>
        </div>

        <div class="field col-6">
            <label for="firstname2">First Name</label>
            <input id="firstname2" type="text" class="inputfield w-full">
        </div>

        <div class="field col-6">
            <label for="lastname2">Last Name</label>
            <input id="lastname2" type="text" class="inputfield w-full">
        </div>

        <div class="field col-6">
            <label for="firstname2">E-mail</label>
            <input id="firstname2" type="email" class="inputfield w-full">
        </div>

        <div class="field col-6">
            <label for="lastname2">Phone Number</label>
            <input id="lastname2" type="text" class="inputfield w-full">
        </div>
    </div> -->
