<p-toast position="top-left"></p-toast>
<p-toast position="top-left"></p-toast>

    <form class="formgrid grid" [formGroup]="accountDetailsForm">
        <div class="field col-12">
                <h1 class=" m-0 pt-3  pl-5">Details</h1>
                <p-divider class="m-0"></p-divider>
        </div>
        
<!-- --------------- Field 1 : userName ----------------------------------------- -->
        
                <div class="field col-12 m-2 md:col-5 mb-5">
                    <label for="userName">User Name</label>
                    <input id="userName"   type="text" formControlName="name" class="inputfield w-full p-3">
                    <div *ngIf="getErrors('name') && getField('name')?.dirty">
                        <small *ngIf="getErrors('name')?.['required']">
                            <span class="pi pi-info-circle"></span>
                        please provide a valid user name
                        </small>
                        <small *ngIf="getErrors('name')?.['minlength']">
                            <span class="pi pi-info-circle"></span>
                        User Name must be more than 3 characters 
                        </small>
                        <small *ngIf="getErrors('name')?.['maxlength']">
                            <span class="pi pi-info-circle"></span>
                        user name must be less than 50 characters
                        </small>
                    </div>
                </div>
    

<!-- --------------- Field 2 : E-mail ----------------------------------------- -->

            <div class="field col-12 m-2  md:col-6 mb-5">
                <label for="Phone">E-mail</label>
                <input id="Phone"    type="text" formControlName="email" class="inputfield w-full p-3"/>
                <div *ngIf="getErrors('email') && getField('email')?.dirty">
                    <small *ngIf="getErrors('email')?.['required']">
                        <span class="pi pi-info-circle"></span>
                        please provide a valid email
                        
                    </small>
                    <small *ngIf="getErrors('email')?.['email']">
                        <span class="pi pi-info-circle"></span>
                      please provide a valid email
                    </small>
                </div>
            </div>


<!-- --------------- Field 3 : Phone Number ----------------------------------------- -->


            <div class="field col-12 m-2 md:col-5 mb-5">
                <label for="Phone">Phone Number</label>
                <input id="Phone"     type="text" formControlName="phone" class="inputfield w-full p-3">
                <div *ngIf="getErrors('phone') && getField('phone')?.dirty">
                    <small *ngIf="getErrors('phone')?.['required']">
                        <span class="pi pi-info-circle"></span>
                        please provide a phone number</small>
                    <small *ngIf="getErrors('phone')?.['minlength']">
                        <span class="pi pi-info-circle"></span>
                        please provide a valid phone number
                    </small>
                    <small *ngIf="getErrors('phone')?.['maxlength']">
                        <span class="pi pi-info-circle"></span>
                        please provide a valid phone number
                    </small>
              </div>
            </div>


<!-- --------------- Field 4 : Address ------------------------------------------------ -->
<div formGroupName="address" class="grid m-2 ">
            
    <div class="field col-12  md:col-8     mb-5">
        <label for="address" >Address</label>
        <input id="address"  type="text" rows="1" 
        formControlName="street" class="inputfield w-full p-3">
        <div *ngIf="getErrors('address.street') && getField('address.street')?.dirty  ">
            <small *ngIf="getErrors('address.street')?.['required']">
                <span class="pi pi-info-circle"></span>
                please provide an address
            </small>
        </div>
    </div>
    
    
    <!-- --------------- Field 5 : city ------------------------------------------------ -->
    
    <div class="field col-12  md:col-4 mb-5">
        <label for="city">City</label>
        <input id="city"   type="text" formControlName="city" 
        class="inputfield w-full p-3"/>
        
        <div *ngIf="getErrors('address.city') && getField('address.city')?.dirty">
            <small   *ngIf="getErrors('address.city')?.['required'] ">
                <span class="pi pi-info-circle"></span>
                please provide a city</small>
        </div>
    </div>
    
   
</div>
<!-- --------------- Field 6 : Submit Button ------------------------------------------- -->
            
            <div class="flex col-12 mt-3 mb-3 justify-content-center">
                <button pButton type="submit" (click)="onSubmit()" 

                [disabled]="
                  accountDetailsForm.invalid || accountDetailsForm.pristine"
                    class="p-button-raised p-button-rounded ">
                    Save Changes
                </button>
            </div>

            

    </form>

