<p-toast position="top-left"></p-toast>

<div class="row m-4">
    <div class="col-12 sm:col-6 sm:col-offset-3 ">

        <p-card  class="mb-4 p-0 ">
            <div class="row">
                <div class="col-12 sm:col-6 sm:col-offset-3"  >
                    <i class="flex justify-content-center pi pi-unlock
                    " style="font-size: 7rem"></i>
                </div>
                
                <h1 class="mb-5 mt-5 flex justify-content-center" style="font-size: 2rem;" >Reset Password</h1>
                
                
                <div class="formgrid grid" [formGroup]="resetPasswordForm">

                    <div class="col-12  m-3 ">
                        <div class="p-inputgroup grid mr-5" >
                            <div class="mb-3 col-12">New Password</div>
                            <input [type]="showPasswordIcon1 ? 'text' : 'password'"  formControlName="password" class="p-password col-12 " pInputText >         
                            <span [ngClass]="{
                                'pi-eye-slash': showPasswordIcon1,
                                'pi-eye': !showPasswordIcon1
                              }"  class="p-inputgroup-addon  pi pi-eye" (click)="toggleFieldTextType()"></span>
                        </div>
                    </div>
                    <div class="m-2" *ngIf="getErrors('password') && getField('password')?.dirty">
                        <small *ngIf="getErrors('password')?.['required']">
                            <span class="pi pi-info-circle mb-1"></span>
                            please provide a valid password
                            
                        </small>
                        <small *ngIf="getErrors('password')?.['minlength']">
                            <span class="pi pi-info-circle"></span>
                          please provide a valid password with minimum length of 4 characters
                        </small>
                    </div>        

                    <div class="flex col-12 mt-3 mb-3 justify-content-center">
                        <button pButton type="submit" (click)="onSubmit()" 
        
                        [disabled]="
                        resetPasswordForm.invalid || resetPasswordForm.pristine"
                            class="p-button-raised p-button-rounded ">
                            SET NEW PASSWORD
                        </button>
                    </div>
                           

                </div>
            </div>
            </p-card>
    </div>
</div>