



<ng-container *ngFor="let review of reviews; let i = index ">

    <div class="review-box">
    <h2 class="username">{{review.username}}</h2>
    <div class="comment">{{review.comment}}</div>
    <p-rating [cancel]="false" [(ngModel)]="review.rating"></p-rating>
    <div class="btns">
    <p-button class="del-btn" type="submit" >delete</p-button>
    <p-button class="update-btn" type="submit" >update</p-button>
    </div>
   </div>
   
     

</ng-container>


<form [formGroup]="reviewForm" (ngSubmit)="send()" class="form">
    <span class="p-float-label">
        <textarea formControlName="comment" id="float-input" rows="6" cols="180"  pInputTextarea placeholder="Drop off your comment..."></textarea>
        
        <div *ngIf="reviewForm.get('comment')?.errors && reviewForm.get('comment')?.touched ">
            <p *ngIf="reviewForm.get('comment')?.errors?.['required']" >comment must be written</p>
            <p *ngIf="reviewForm.get('comment')?.errors?.['maxlength']" >maximum comment contains 100 charchter</p>
        </div> 
         
    </span>
    
    <span class="p-float-label">
       
        <h3 class="rate">Rate this product</h3>
    <p-rating formControlName="rating" id="rating"  [cancel]="false"></p-rating>
        <div *ngIf="reviewForm.get('rating')?.errors && reviewForm.get('rating')?.touched ">
            <p *ngIf="reviewForm.get('rating')?.errors?.['required']" >rate must be provided</p>
            <p *ngIf="reviewForm.get('rating')?.errors?.['min']" >minimum rate is 1</p>
            <p *ngIf="reviewForm.get('rating')?.errors?.['max']" >maximum rate is 5</p>
        </div> 
    </span>
    
    
    
    <p-button class="btn" type="submit" [disabled]="reviewForm.invalid">send</p-button>
    
    </form>