<nav
    class="shadow-1 flex w-full  justify-content-between align-items-center py-2 nav px-3 fadein animation-duration-1000   ">
   <a routerLink="/">
    <img  src="../../assets/WhatsApp Image 2022-02-22 at 7.08.19 PM.jpeg" alt="logo">

   </a>


    <ul class="flex list-none">
        <li class="mr-1 p-2 hidden lg:block transition-colors transition-duration-500 hover:surface-300 border-round"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a routerLink="/"> Home</a>
        </li>
        <li class="mr-1 p-2 hidden lg:block transition-colors transition-duration-500 hover:surface-300 border-round"
            routerLinkActive="active"><a routerLink="/products"> Products</a>
        </li>
        <ng-container *ngIf="!isLogin ">
            <li class="mr-1 p-2 hidden lg:block transition-colors transition-duration-500 hover:surface-300 border-round"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/users/register"> Sign
                    up</a></li>
            <li class="mr-1 p-2 hidden lg:block transition-colors transition-duration-500 hover:surface-300 border-round"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/users">Login</a></li>
        </ng-container>
        <ng-container *ngIf="isLogin">
            <li class="mr-1 p-2 hidden lg:block transition-colors cursor-pointer transition-duration-500 hover:surface-300 border-round"
                (click)="logout()"><a>Logout</a></li>
            <li
                class="mr-1 p-2 hidden lg:block transition-colors cursor-pointer transition-duration-500 hover:surface-300 border-round">
                <a routerLink="customer/account/overview">Welcome {{name | titlecase}}</a></li>
        </ng-container>



        <li class="p-2 hidden lg:block">

            <a routerLink="/cart"> <i class="pi pi-shopping-cart mr-4" pBadge style="font-size: 1.3rem"
                    [value]="(cartProducts | async)?.length + ''"></i>
            </a>

        </li>

        <li class="mr-4  lg:hidden" (click)="display = true"><i class="pi pi-bars" style="font-size:1rem;"></i></li>
    </ul>
</nav>


<p-sidebar [(visible)]="display" position="right" styleClass="p-sidebar-sm" [style]="{'text-align':'center'}">
    Content
    <ul class="list-none">
        <li>Home</li>
        <li>products</li>
        <li>Sign up</li>
        <li>Login</li>
        <li>

           
        </li>
    </ul>
</p-sidebar>
<div *ngIf="search">
    {{search}}
</div>


