<p-toast position="top-left"></p-toast>

<div class="row">
    <div class="col-6 col-offset-3 ">

        <p-card  class="mb-4 p-0 ">
            <div class="row">
                <div class="col-12 col-offset-5"  >
                    <!-- <img  class="  w-6 p-0  " src="assets/lock.png"> -->
                    <i class="pi pi-lock  " style="font-size: 8vw"></i>
                </div>
                
                <h1 class="mb-5 mt-5 col-offset-3 sm:col-12" style="font-size: 3vw;" >Forgot Password?</h1>
                <div class="flex " [ngStyle]="{color:'var(--orange-700)'}">
                    <i  class="pi pi-info-circle mr-3 mt-1 " ></i>
                    <p tyle="font-size: 2vw" > 
                        Please enter the e-mail address associated with your  account. We will send you a link to this e-mail address to reset your password.
                    </p>
                </div> 
                
                <div class="formgrid grid" [formGroup]="forgotPasswordForm">

                    <div class="p-inputgroup col-12 mt-4">
                        <span class="p-inputgroup-addon"><i class="pi pi-envelope
                            "></i></span>
                        <input type="text"  formControlName="email" pInputText placeholder="Enter your e-mail address
                        "> 
                    </div>
                    <div class="m-2" *ngIf="getErrors('email') && getField('email')?.dirty">
                        <small *ngIf="getErrors('email')?.['required']">
                            <span class="pi pi-info-circle"></span>
                            please provide a valid email
                            
                        </small>
                        <small *ngIf="getErrors('email')?.['email']">
                            <span class="pi pi-info-circle"></span>
                          please provide a valid email
                        </small>
                    </div>        

                    <div class="flex flex-wrap col-12 mt-5 mb-1 justify-content-evenly">
                        <button pButton type="submit" (click)="onSubmit()" 
        
                        [disabled]="
                        forgotPasswordForm.invalid || forgotPasswordForm.pristine"
                            class="p-button-raised p-button-rounded  ">
                            Send Email
                        </button>
                        <a class="" routerLink="/users" ><button pButton class="p-button-raised p-button-rounded ">Login Page</button></a>
                    </div>
                           

                </div>
            </div>
            </p-card>
    </div>
</div>