<div class="absolute top-50 left-50 translate-x-50 translate-y-50" *ngIf="isLoading">
    <p-progressSpinner [style]="{width: '100px', height: '80px'}" styleClass="custom-spinner " strokeWidth="4"
      fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
  </div>

<app-display-products *ngIf="!msg" [products]="listOfProducts"></app-display-products>


<h2 class="text-center mt-8" *ngIf="msg && !isLoading">{{msg}}</h2>
<h2 class="text-center mt-8" *ngIf="noData && !isLoading">No Data To Show</h2>
