
  
<div class="grid fadeinup animation-duration-1000">
  <!-- <div class="md:col-6  ">
    <img class="w-100" src="https://images.pexels.com/photos/10665344/pexels-photo-10665344.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </div> -->
  <form class=" md:col-6" (ngSubmit)="onRegister()" [formGroup]="registerForm">
    <p
      class="login-text m-3 text-center w-7"
      style="font-size: 2rem; font-weight: 800; font-style: italic"
    >
      Sign Up
    </p>
    <div class="form-group w-20rem mb-4">

      <span class="p-float-label">
        <input id="float-input" type="text" pInputText formControlName="name"> 
        <label for="float-input">Username</label>
    </span>
      <div *ngIf="getErrors('name') && getField('name')?.touched">
        <p *ngIf="getErrors('name')?.['required']">
          please provide a user name
        </p>
        <p *ngIf="getErrors('name')?.['minlength']">
          user name must be 3 characters and more
        </p>
        <p *ngIf="getErrors('name')?.['maxlength']">
          user name must less than 50 characters
        </p>
      </div>
    </div>
    <div class="form-group w-20rem mb-4">
 
      <span class="p-float-label">
        <input id="float-input"  type="email" pInputText formControlName="email"> 
        <label for="float-input">Email</label>
    </span>
      <div *ngIf="getErrors('email') && getField('email')?.touched">
        <p *ngIf="getErrors('email')?.['required']">please provide a email</p>
        <p *ngIf="getErrors('email')?.['email']">
          please provide a valid email
        </p>
      </div>
    </div>
    <div class="form-group w-20rem mb-4">
      <p-password formControlName="password" [toggleMask]="true"></p-password>
      <div *ngIf="getErrors('password') && getField('password')?.touched">
        <p *ngIf="getErrors('password')?.['required']">
          please provide a password
        </p>
        <p *ngIf="getErrors('password')?.['minlength']">
          please provide a valid password
        </p>
      </div>
    </div>

    <div formGroupName="address">
      <div class="form-group w-20rem mb-4">
        <span class="p-float-label">
          <input id="float-input"  type="text" pInputText formControlName="street"> 
          <label for="float-input">Street</label>
      </span>
        <div *ngIf="getErrors('street') && getField('street')?.touched">
          <p *ngIf="getErrors('street')?.['required']">please provide a street</p>
        </div>
        
      </div>

      <div class="form-group w-20rem mb-4">
        <span class="p-float-label">
          <input id="float-input"  type="text" pInputText formControlName="city"> 
          <label for="float-input">City</label>
      </span>
        <div *ngIf="getErrors('city') && getField('city')?.touched">
          <p *ngIf="getErrors('city')?.['required']">please provide a city</p>
        </div>
        
      </div>
    </div>

    <div class="form-group w-20rem mb-4">
      <span class="p-float-label w-full">
        <input id="float-input"  type="text" pInputText formControlName="phone"> 
        <label for="float-input">Phone</label>
    </span>
      <div *ngIf="getErrors('phone') && getField('phone')?.touched">
        <p *ngIf="getErrors('phone')?.['required']">please provide a phone</p>
        <p *ngIf="getErrors('phone')?.['minlength']">
          please provide a valid phone
        </p>
        <p *ngIf="getErrors('phone')?.['maxlength']">
          please provide a valid phone
        </p>
      </div>
    </div>

    <div class="form-group w-20rem">
      <button pButton pRipple type="submit" [disabled]="registerForm.invalid" label="Register" class="p-button-rounded"></button>
    </div>
  </form>
</div>