.order-summary {
  padding: 5%;
  h3 {
    font-weight: 700;
  }

  .summary-price {
    display: flex;
    margin: 15px 0;

    span {
      display: block;
      width: 80%;

      &:last-child {
        width: 20%;
        font-weight: 600;
      }

      &.free {
        color: rgb(79, 70, 229)
      }
    }
  }
}
