<div class="formgrid grid p-2" [formGroup]="changePassForm">
    <div class="field col-12">
            <h1 class=" m-0 pt-3  pl-5">Change Password</h1>
            <p-divider class="m-0"></p-divider>
    </div>
    
    <div class="field col-12 md:col-6">
        <label for="old-password">Old Password</label>
        <input id="old-password" type="password"  formControlName="oldPassword" class="inputfield w-full p-2">
    </div>

    <div class="field col-12 md:col-6">
        <label for="new-password">New Password</label>
        <input id="new-password" type="password"  formControlName="newPassword" class="inputfield w-full p-2">
    </div>
    <div class="field col-12 md:col-6">
        <label for="match-password">Re-Type New Password</label>
        <input id="match-password" type="password" formControlName="reTypedPassword" class="inputfield w-full p-2">
    </div>

    <div class="flex col-12 mt-3 mb-3 justify-content-center">
        <button pButton type="submit" (click)="onSubmit()"
            class="p-button-raised p-button-rounded ">
            Save Changes
        </button>
    </div>

</div>