
    <p-toast position="top-left"></p-toast>

<form class="formgrid grid p-2  " autocomplete="off" [formGroup]="changePassForm">
    <input autocomplete="false" name="hidden" type="text" style="display:none;">
    <div class="field col-12">
            <h1 class=" m-0 pt-3  pl-5">Change Password</h1>
            <p-divider class="m-0"></p-divider>
    </div>

    <div class="grid p-fluid p-3">
        <div class="col-6 m-3 ">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon ">Current Password</span>
                <input type="password" formControlName="oldPassword" class="p-password" pInputText >         
            </div>
        </div>

        <div class="col-5 m-3 ">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">New Password</span>
                <input type="password" formControlName="newPassword" class="p-password" pInputText >         
            </div>
        </div>
        
            <div class="col-6  m-3">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Re-type New Password</span>
                    <input type="password"  formControlName="reTypedPassword" class="p-password" pInputText >         
                </div>
                <small *ngIf="matchPasswordErr" class="m-2 ">
                    <span class="pi pi-info-circle"></span>
                Passwords don't match
                </small>           
             </div>
    </div>

    
    
   
    
  
    <!-- <div class=" field col-12  md:col-5  ">
        <div><label for="old-password">Current Password</label></div>
        <p-password  [toggleMask]="true" 
          formControlName="oldPassword" class="col-5"
         ></p-password>
    </div> 
     <div class=" field col-12   md:col-6 ">
        <div><label for="new-password">New Password</label></div>
        <p-password  [toggleMask]="true" 
          formControlName="newPassword"  class="col-5"
         ></p-password>
    </div>
    <div class=" field col-12   md:col-6 ">
        <div><label for="match-password">Re-type New Password</label></div>
        <p-password  [toggleMask]="true" 
          formControlName="reTypedPassword" 
         ></p-password>
    </div> -->

    

    <div class="flex col-12 mt-3 mb-3 justify-content-center">
        <button pButton type="submit" (click)="onSubmit()"
            class="p-button-raised p-button-rounded "
            [disabled]="changePassForm.invalid">
            Save Changes
        </button>
    </div>

</form>