<div class="checkout-page">
  <div>
    <button pButton pRipple type="button" label="Continue shopping" icon="pi pi-arrow-left"
      class="p-button-outlined mb-3" (onClick)="backToCart()"></button>

  </div>
  <div class="grid checkout-form grid-nogutter justify-content-center">
    <div class="col-4">
      <h1 class=" mb-5">Checkout</h1>
      <form [formGroup]="checkoutForm">
        <app-input [controlName]="phone" label="Phone" type="text" [requiredName]="'Phone'"></app-input>
        <app-input [controlName]="street" label="Street" type="text" [requiredName]="'Street'"></app-input>
        <app-input [controlName]="city" label="City" type="text" [requiredName]="'City'"></app-input>
      </form>
      <div class="checkout-button">
        <p-button label="Place Order" (onClick)="createOrder()"></p-button>
      </div>
    </div>

  </div>
</div>
