<ng-container *ngIf="product">
  <div class="scalein animation-duration-300 font-bold ">
    <div class="card grid m-3">

     <div class=" md:col-4">
      <img class="border-round w-full"  [src]="product.image" alt="{{product.name}}">
     </div>
     <p-toast position="top-right"></p-toast>
      <div class=" md:col-8">
        <h2 class="mb-3" >{{product.name}}</h2>
        <p>{{product.description}}</p>
        <p>Price: {{product.price}} LE</p>
        <p *ngIf="product.countInStock==0" class=" p-1 font-bold">OUTOFSTOCK
        </p>
   
        <p *ngIf="product.countInStock!==0" class="p-1 font-bold">INSTOCK</p>
        <p-button [disabled]="product.countInStock === 0" (onClick)="cart(product)"> Add to cart
        </p-button>
      </div>

    </div>
  </div>
</ng-container>
 
<h2 class="text-center mt-8" *ngIf="msg">{{msg}}</h2>

