<div class=" row surface-0"> 
    <div class="col-12 p-0 surface-100">
<!-- ----------------------- timeline ------------------------------------ -->
        <div class="col-12 sm:col-6 sm:col-offset-3">
                <p-timeline  [value]="events"  align="bottom" layout="horizontal" >
                            <ng-template pTemplate="opposite" let-event >
                                <div class="flex justify-content-start" >{{event.status}}</div>
                            </ng-template>
                            <ng-template pTemplate="marker" let-event>
                                <span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color">
                                    <i [ngClass]="event.icon"></i>
                                </span>
                               
                            </ng-template>
                </p-timeline>
                        
        </div>
<!-- ----------------------- stpes ------------------------------------ -->
        <!-- <div >
            <p-steps  [model]="items"  class="customstepper" [readonly]="false"></p-steps>
            
        </div> -->
<!-- ----------------------- ends here ------------------------------------ -->
    </div>

    <router-outlet></router-outlet>
</div>