<div class="m-auto fadeinright animation-duration-1000 ">
  <img class="w-full h-25rem"
    src="https://images.pexels.com/photos/45202/brownie-dessert-cake-sweet-45202.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    alt="">

</div>

<div class="fadeinleft animation-duration-1000 overflow-x-hidden">
  <h2 class="text-center mt-3">Categories</h2>

  <ng-container *ngIf="categories$ | async as categories">
    <p-carousel [value]="categories" [numVisible]="3" [numScroll]="3" [circular]="true"
    [responsiveOptions]="responsiveOptions">

    <ng-template let-category pTemplate="item">
      <div class="product-item cursor-pointer">
        <div class="product-item-content">
          <div class="m-3 ">
            <img src="{{category.image}}" [alt]="category.name" class="w-full categoty-image border-round"
              [routerLink]="['/products/categories', category._id]" />
          </div>
          <div>
            <h4 class="mb-1 text-center">{{category.name}}</h4>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
  </ng-container>


  <h2 class="text-center mt-3">Featured</h2>
  <ng-container *ngIf="products$ | async as products">

    <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="true"
      [responsiveOptions]="responsiveOptions">
      <ng-template let-product pTemplate="item">
        <ng-container *ngIf="product.featured">
          <div class="product-item cursor-pointer">
            <div class="product-item-content">
              <div class="m-3 ">
                <img [src]="product.image" [alt]="product.name" class="w-full categoty-image border-round"
                  [routerLink]="['/products', product._id]" />
              </div>
              <div>
                <h4 class="mb-1 text-center">{{product.name}}</h4>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </p-carousel>
  </ng-container>

</div>